<div class="container">
    <br>
    <div class="row">
        <div class="col imgs">
            <img class="" src="/assets/EnergyStorageSystems.png" alt="image" width="500" height="300">
        </div>

        <div class="col">
            <h4><b>Put Good Energy In And Get <br>
                Good Energy Back.
                </b></h4>
            <p>
                Backup systems with AC coupled batteries like Tesla Powerwall 2.0 <br>
                with SolarEdge or micro-inverter.<br>
                <br>
                Backup system with DC Coupled batteries like LG Chem with  <br>
                SolarEdge-Store Edge Inverters and also SolarEdge Backup  <br>
                Interface.  <br>
                <br>
                Backup system with Enphase Ensemble system with Encharge    
            </p>
            
        </div>

    </div>
   
  
    <div class="flex-container">
        <div class="row">
            <div class="col-8">
                <div class=" card">
                    <img class="" src="/assets/Collaboratewithicon.png" alt="image" width="45" height="30">
                    <h6><b>Collaborate with us</b></h6>
                    <p>We provide the customized proposal design service.</p>
                    <h6 id="textcolor"> <b>Contact Us >></b></h6>
                </div>
            </div>


           



            
        </div>
    </div>
</div>




