

<div class="container">
    <br>
    <div class="row">
        <div class="col imgs">
            <img class="" src="/assets/generatorplanset.png" alt="image" width="500" height="300">
        </div>

        <div class="col">
            <h4><b>The Time Is Right For Electric <br>
                Cars - In Fact The Time Is Critical.
                </b></h4>
            <p>
                Our team of engineers is experienced in generating EV-Changer <br>
                Plan-sets that support safe and efficient installations. <br>
             
                We currently designing Residential EV-Charger plan-sets and our <br>
                engineers are currently studying to create EV-Charging stations <br>
                design also.  
            </p>
            
        </div>

    </div>
  
  
    <div class="flex-container">
        <div class="row">
            <div class="col-8">
                <div class=" card">
                    <img class="" src="/assets/Collaboratewithicon.png" alt="image" width="45" height="30">
                    <h6><b>Collaborate with us</b></h6>
                    <p>We provide the customized proposal design service.</p>
                    <h6 id="textcolor"> <b>Contact Us >></b></h6>
                </div>
            </div>


           



            
        </div>
    </div>
</div>








