<div class="container">
    <br>
    <div class="row">
        <div class="col imgs">
            <img class="" src="/assets/Residential_Solar.png" alt="image" width="500" height="260">
        </div>

        <div class="col">
            <h4><b>Once You Got A Solar Panel On A Roof,<br>
                    Energy Is Free. Once We Convert Our <br>
                    Entire Electricity</b></h4>
            <p>
                We have extensive experience in designing of residential solar<br>
                system. We provide variety of services in this sector ranging from <br>
                sales to interconnection. Our team has In depth knowledge of AHJ<br>
                and Utility requirements and are acquainted with various <br>
                codes and compliances.
            </p>
            <h6><b id="textcolor">Download checklist >></b></h6>
        </div>

    </div>
    <br>
  
    <div class="flex-container">
        <div class="row">
            <div class="col-3">
                <div class=" card">
                    <img class="" src="/assets/Collaboratewithicon.png" alt="image" width="45" height="30">
                    <h6><b>Proposal Drawing</b></h6>
                    <p>We provide the customized<br>
                        proposal design service</p>
                    <h6 id="textcolor"> <a type="button" (click)="openModal(template)"><b> Know More >></b></a></h6>
                </div>
            </div>


            <div class="col-3">
                <div class=" card">
                    <img class="" src="/assets/Permiticon.png" alt="image" width="45" height="30">
                    <h6><b>Permit Plan</b></h6>
                    <p>We make the efficient<br>
                        Permit plan design.
                    </p>
                    <h6 id="textcolor"> <a type="button" (click)="openModal(template)"><b> Know More >></b></a></h6>
                </div>
            </div>



            <div class="col-3">
                <div class="card">
                    <img class="" src="/assets/Stampingicon.png" alt="image" width="45" height="30">
                    <h6><b>Stamping</b></h6>
                    <p>We provide the stamping as <br>
                        per the requirements</p>
                        <h6 id="textcolor"> <a type="button" (click)="openModal(template)"><b> Know More >></b></a></h6>
                </div>
            </div>

        </div>
    </div>
</div>





<ng-template #template>
    <div class="container mt-2 ">
        
        <div class="modal-header">
            <h4 class="modal-title pull-left"><b>PROPOSAL DRAWING</b></h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">

            <img class="" src="/assets/ProposalDrawing.png" alt="image" width="500" height="260">
            <b>
            <ul>
                <li>Single/Three Line Diagram</li>
                <li> Preliminary Solar Assessment (PSA)</li>
                <li>Initial Roof and Array Sketch</li>
                <li>Shading Analysis</li>
                <li> Calculation of ROI</li>
                <li> PR estimate using industry leading software like Aurora, Helioscope, PVSyst, etc.</li>
            </ul>
        </b>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
        </div>
   
    </div>
</ng-template>









<!-- <div>
    <h4>Once You Got A Solar Panel On A Roof,<br>
        Energy Is Free. Once We Convert Our <br>
        Entire Electricity</h4>
    <p>
        We have extensive experience in designing of residential solar<br> 
        system. We provide variety of services in this sector ranging from <br>
        sales to interconnection. Our team has In depth knowledge of AHJ<br>
        and Utility requirements and are acquainted with various <br>
        codes and compliances.
    </p>
    <h6><b>Download checklist >></b></h6>
</div>

<div>
    <h6>Proposal Drawing</h6>
    <p>We provide the customized<br>
        proposal design service</p>
    <h6> Know More >></h6>
</div>

<div>
    <h6>Permit Plan</h6>
    <p>We make the efficient<br>
        Permit plan design.
        </p>
    <h6> Know More >></h6>
</div>


<div>
    <h6>Stamping</h6>
    <p>We provide the stamping as <br>
        per the requirements</p>
    <h6> Know More >></h6>
</div> -->