<app-header></app-header>
<br>
<div class="container">
<div class="nav">
<div class="nav-links padright">
    <ul >
      <li > <a class="arrow arrow-left"></a></li>
      
      <li ><a class="rs" href="residential-solar">Residential Solar</a></li>
      <li><a class="cs" href="commerical-solar" >Commercial Solar</a></li>
      <li><a class="es padtop" href="energy-storage" >Energy Storage Systems</a></li>
      <li><a class="evc padtop" href="ev-charging" >EV Charging stations</a></li>
      <li><a class="gp padtop" href="generator-plant" >Generator Plant Set</a></li>
      <li><a class="arrow arrow-right"></a></li>
    </ul>
</div>
</div>
</div> 

